#searchInput{
	font-size: 40px;

}

#avatar {
        width: 350px;
        height: 350px;
        border: 10px red;
        position: initial;
    }

#avatars {
        width: 100px;
        height: 100px;
    } 

#avatarsi   {
        width: 100px;
        height: 100px;
        
    }

#avatarsi2   {
        width: 100px;
        height: 100px;
        
    } 

#avatarsi3   {
        width: 100px;
        height: 100px;
        
    } 

#avatarsi4   {
        width: 100px;
        height: 100px;
        
    } 
#avatarsi5   {
        width: 100px;
        height: 100px;
        
    } 

#followers{
    font-size: 50px;
    color: blue;
    background: white;
    word-wrap: break-word;
    margin-top: 40px;
    }
body{
	background: lightblue url("web-maze.gif") fixed center;
    padding: 150px;
}

div {
    font-size: 35px;
    color: #ffffff;
    padding: 30px;
    text-shadow: 0px 0px 30px blue;
    text-align: center;
    }

h2 {
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 20px;
    text-shadow: 5px 10px 30px black;
    position: initial;
    text-align: center;
    left: 70px;
    top: 10px;
    letter-spacing: 3px;
}

h2::first-letter {
    color: blue;
}

h1{
	display: inline-block;
	align-items: center;
	font-size: 25px;
}

p{
    background: blue;
    word-wrap: break-word;
    margin-top: 40px;
    text-align: center;
    }

a{
	font-size: 25px;
}

.grid-name{
	display: grid;
	grid: 1px / auto auto auto auto auto auto;
	grid-gap: 50px;
	padding: 20px;
    background: white;
    font-size: 25px;
    position: initial;
    margin-top: 200px;
    width: 100%;/*    margin-top: 600px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;*/
}


#getUserBtn{
    font-size: 15px;
	border: 15px;
    padding: 20px;
    color: #ffffff;
    background: black;
}

.Fuser{
    background: blue;
    margin-bottom: 70px;
    font-size: 15px;
    left: 0;
    top: 0;
    width: 100%;

}

.container{
    background: white;
    font-size: 15px;
    margin-bottom: 70px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;

}
